## **NAMA : SHELOMITA YOHELLIA**
## **NIM : 2209106019**
## **KELAS : A1 2022**

# **POSTTEST 4 KECERDASAN BUATAN**

#### Import semua library yang digunakan

In [47]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd

#### Buka file csv. Karna disini data saya banyak sehigga saya membuat variable yang didalamnya terdapat sample = 2000

In [48]:
df = pd.read_csv('PS_20174392719_1491204439457_log.csv')
shelom = df.sample(n=2000)

## DATA SPLIT
#### Bagi dataset menjadi **training set** dan **testing set** dengan proporsi **70:30**

In [49]:
# 'x' digunakan untuk melatih model, 'y' digunakan untuk seberapa baik model memprediksi nilai
x = shelom.drop(columns = 'isFraud')
y = shelom['isFraud']

In [50]:
# Memisahkan data menjadi training set dan testing set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [51]:
# Mencetak bentuk (shape) dari x_train, x_test, y_train, y_test
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1400, 10)
(600, 10)
(1400,)
(600,)

## NORMALISASI
#### Normalisasi data pada salah satu attribute menggunakan **Min Max Scaler**

In [52]:
df = pd.read_csv('PS_20174392719_1491204439457_log-Copy1.csv')
shelom1 = df.sample(n=2000)

In [53]:
# Inisialisasi MinMaxScaler
mx = MinMaxScaler()

# Kolom=kolom yang akan di normalisasi
shelom1[['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest', 'isFraud', 'isFlaggedFraud']] = mx.fit_transform(shelom1[['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest', 'isFraud', 'isFlaggedFraud']])

C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [54]:
# Menemukan nilai Max dalam kolom 'isFraud' dalam DataFrame 'shelom1'
shelom1['isFraud'].max()

1.0

In [55]:
# Menemukan nilai Min dalam kolom 'isFraud' dalam DataFrame 'shelom1'
shelom1['isFraud'].min()

0.0

## STANDARISASI

In [56]:
shelom1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 667475 to 2209347
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            2000 non-null   float64
 1   type            2000 non-null   object
 2   amount          2000 non-null   float64
 3   nameOrig        2000 non-null   object
 4   oldbalanceOrg   2000 non-null   float64
 5   newbalanceOrig  2000 non-null   float64
 6   nameDest        2000 non-null   object
 7   oldbalanceDest  2000 non-null   float64
 8   newbalanceDest  2000 non-null   float64
 9   isFraud         2000 non-null   float64
 10  isFlaggedFraud  2000 non-null   float64
dtypes: float64(8), object(3)
memory usage: 187.5+ KB

In [57]:
# Inisialisasi StandardScaler
slr = StandardScaler()

# Kolom yang akan distandarisasi
shelom1[['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest', 'isFraud', 'isFlaggedFraud']] = slr.fit_transform(shelom1[['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest', 'isFraud', 'isFlaggedFraud']])

C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

## DATA CLEANING
#### **Data cleaning** pada data dengan **nilai null**

In [58]:
df = pd.read_csv('PS_20174392719_1491204439457_log-Copy2.csv')
shelom2 = df.sample(n=2000)

In [59]:
# Menentukan persentase nilai yang ingin diubah menjadi null 
persentase_null = 0.2

In [60]:
# Menghitung jumlah baris yang akan diubah menjadi null
jumlah_baris_null = int(persentase_null * len(shelom2))

In [61]:
# Memilih secara acak index baris yang akan di ubah menjadi null
baris_null = shelom2.sample(n=jumlah_baris_null).index

In [62]:
# Mengatur beberapa nilai menjadi null (NaN)
shelom2.loc[baris_null, 'step'] = pd.NA
shelom2.loc[baris_null, 'amount'] = pd.NA

In [63]:
# Memeriksa baris yang memiliki nilai null pada DataFrame
shelom2.isnull().sum()

step              400
type                0
amount            400
nameOrig            0
oldbalanceOrg       0
newbalanceOrig      0
nameDest            0
oldbalanceDest      0
newbalanceDest      0
isFraud             0
isFlaggedFraud      0
dtype: int64

#### Mengganti **nilai NULL** dengan menggunakan **rata-rata**

In [64]:
# Mengganti nilai null dengan nilai rata-rata
rata_rata = shelom2['step'].mean()
shelom2['step'] = shelom2['step'].fillna(rata_rata)

In [65]:
shelom2.isnull().sum()

step                0
type                0
amount            400
nameOrig            0
oldbalanceOrg       0
newbalanceOrig      0
nameDest            0
oldbalanceDest      0
newbalanceDest      0
isFraud             0
isFlaggedFraud      0
dtype: int64

#### Mengganti **nilai NULL** dengan menggunakan **Median**

In [66]:
# Mengganti nilai null dengan nilai median
median = shelom2['amount'].median()
shelom2['amount'] = shelom2['amount'].fillna(median)

In [67]:
shelom2.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

## DATA CLEANING
#### **Data cleaning** pada data dengan **nilai duplikat**.

In [68]:
df = pd.read_csv('PS_20174392719_1491204439457_log-Copy3.csv')
shelom3 = df.sample(n=2000)

In [69]:
# Memriksa nilai duplikat
shelom3.duplicated().sum()

0

In [70]:
# Karna dalam data saya tidak terdapat nilai duplikat maka DataFrame shelom3 kita copy
shelom3 = shelom3.copy()

In [71]:
# Menggabungkan DataFrame shelom3 dengan data yang dicopy
shelom3 = pd.concat([shelom3, shelom3], ignore_index=True)

In [72]:
# Memriksa nilai duplikat, karna tadi data sudah dicopy maka kita memiliki data yang sudah di duplikat
shelom3.duplicated().sum()

2000

In [73]:
# Menghilangkan data yang terindikasi data terduplikat
shelom3.drop_duplicates(inplace=True)

In [74]:
# Memriksa kembali data yang terduplikat
shelom3.duplicated().sum()

0

## MENGGANTI TIPE DATA
#### **Ganti tipe data** salah satu attribute **angka**

In [81]:
# Mempriksa tipe data setiap kolom
shelom3.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [82]:
# Mengubah tipe data int64 pada STEP Menjadi object
shelom3['step'] = shelom3['step'].astype(object)

In [83]:
shelom3.dtypes

step               object
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

## ONE HOT ENCODING
#### Melakukan **one hot encoding** pada dataset yang kalian miliki.

In [84]:
shelom3.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,361,DEBIT,2135.60,C2091390360,16554.00,14418.40,C1051221598,1331544.19,1333679.79,0,0
1,41,PAYMENT,7508.75,C1841954657,26290.61,18781.86,M1662141207,0.00,0.00,0,0
2,203,TRANSFER,87533.74,C564360062,51342.00,0.00,C34587332,2049547.05,2137080.79,0,0
3,42,CASH_IN,75182.29,C1824576907,2279.00,77461.29,C591887141,0.00,0.00,0,0
4,349,PAYMENT,13359.78,C1875453191,52372.00,39012.22,M223317595,0.00,0.00,0,0

In [85]:
# Menampilkan kolom 'type' dan ' isFraud' pada DataFrame shelom3
shelom3[['type', 'isFraud']]

          type  isFraud
0        DEBIT        0
1      PAYMENT        0
2     TRANSFER        0
3      CASH_IN        0
4      PAYMENT        0
...        ...      ...
1995   CASH_IN        0
1996   PAYMENT        0
1997   PAYMENT        0
1998  CASH_OUT        0
1999  CASH_OUT        0

[2000 rows x 2 columns]

In [86]:
# Inisialisasi OneHotEncoder dengan parameter sparse_output=False
ohe = OneHotEncoder(sparse_output=False)

# Melakukan OneHot encoding pada kolom 'type', dan 'isFraud'
encoder = ohe.fit_transform(shelom3[['type', 'isFraud']])

C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Shelom\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [87]:
# Membuat DataFrame baru dengan hasil OneHot Encoding dan menambahkan nama kolom
ohe_encoder = pd.DataFrame(encoder, columns=['DEBIT', 'TRANSFER', 'CASH_OUT', 'CASH_IN', 'PAYMENT', 'FRAUD', 'NOT FRAUD', ])
ohe_encoder

      DEBIT  TRANSFER  CASH_OUT  CASH_IN  PAYMENT  FRAUD  NOT FRAUD
0       0.0       0.0       1.0      0.0      0.0    1.0        0.0
1       0.0       0.0       0.0      1.0      0.0    1.0        0.0
2       0.0       0.0       0.0      0.0      1.0    1.0        0.0
3       1.0       0.0       0.0      0.0      0.0    1.0        0.0
4       0.0       0.0       0.0      1.0      0.0    1.0        0.0
...     ...       ...       ...      ...      ...    ...        ...
1995    1.0       0.0       0.0      0.0      0.0    1.0        0.0
1996    0.0       0.0       0.0      1.0      0.0    1.0        0.0
1997    0.0       0.0       0.0      1.0      0.0    1.0        0.0
1998    0.0       1.0       0.0      0.0      0.0    1.0        0.0
1999    0.0       1.0       0.0      0.0      0.0    1.0        0.0

[2000 rows x 7 columns]

In [88]:
# Menggabungkan DataFrame 'shelom3' dengan DataFrame baru 'ohe_encoder' hasil OneHotEncoder
shelom3 = pd.concat([shelom3, ohe_encoder], axis=1)
shelom3.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,DEBIT,TRANSFER,CASH_OUT,CASH_IN,PAYMENT,FRAUD,NOT FRAUD
0,361,DEBIT,2135.60,C2091390360,16554.00,14418.40,C1051221598,1331544.19,1333679.79,0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,41,PAYMENT,7508.75,C1841954657,26290.61,18781.86,M1662141207,0.00,0.00,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,203,TRANSFER,87533.74,C564360062,51342.00,0.00,C34587332,2049547.05,2137080.79,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,42,CASH_IN,75182.29,C1824576907,2279.00,77461.29,C591887141,0.00,0.00,0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,349,PAYMENT,13359.78,C1875453191,52372.00,39012.22,M223317595,0.00,0.00,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [89]:
# Melakukan OneHot Encoding pada kolom 'type' dan 'isFraud' pada DataFrame shelom3
shelom_dummies = pd.get_dummies(shelom3[['type', 'isFraud']]).replace(False, 0).replace(True, 1)

In [90]:
# Menggabungkan DataFrame shelom3 dengan DataFrame shelom_dummies secara horizontal
shelom3 = pd.concat([shelom3, shelom_dummies], axis=1)

In [91]:
# Menghapus kolom 'type', dan 'isFraud' pada DataFrame shelom3
shelom3.drop(columns=['type', 'isFraud'], inplace=True)
shelom3.head()

,step,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFlaggedFraud,DEBIT,...,CASH_OUT,CASH_IN,PAYMENT,FRAUD,NOT FRAUD,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,361,2135.60,C2091390360,16554.00,14418.40,C1051221598,1331544.19,1333679.79,0,0.0,...,1.0,0.0,0.0,1.0,0.0,0,0,1,0,0
1,41,7508.75,C1841954657,26290.61,18781.86,M1662141207,0.00,0.00,0,0.0,...,0.0,1.0,0.0,1.0,0.0,0,0,0,1,0
2,203,87533.74,C564360062,51342.00,0.00,C34587332,2049547.05,2137080.79,0,0.0,...,0.0,0.0,1.0,1.0,0.0,0,0,0,0,1
3,42,75182.29,C1824576907,2279.00,77461.29,C591887141,0.00,0.00,0,1.0,...,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0
4,349,13359.78,C1875453191,52372.00,39012.22,M223317595,0.00,0.00,0,0.0,...,0.0,1.0,0.0,1.0,0.0,0,0,0,1,0